@import "~bootstrap/scss/pagination";
.maz__school__instructor__block {
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(50, 53, 61, 0.2);
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    .maz__instructor-img {
        img {
            width: 100%;
            min-height: 340px;
            height: 340px;
            object-fit: cover;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }
    .maz__instructor-content{
        padding: 1rem;
        color: $text-dark;
        font-weight: 600;
    }
}
